{% extends 'layout.html' %}
{% load static %}
{% block title %}Twitter Clone{% endblock %}

{% block content %}
    <div class="text-center my-4">
        <h1 class="display-4">Welcome to Twitter Clone</h1>
    </div>
    {% if form %}
    <div class="container-custom form-custom">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Tweet</button>
            </div>
        </form>
    </div>
    {% endif %}

    <div class="container-custom">
        {% for tweet in tweets %}
            <div class="card tweet-card my-3">
                <div class="tweet-card-left">
                    {% if tweet.user.profile.profile_image %}
                        <img src="{{ tweet.user.profile.profile_image.url }}" class="img-thumbnail" style="width: 200px; height: 200px;">
                    {% else %}
                        <img src="{% static 'images/userbasicicon.jpg' %}" class="img-thumbnail" style="width: 200px; height: 200px;">
                    {% endif %}
                </div>
                <div class="tweet-card-right">
                    <div class="card-header tweet-card-header">
                        <h5 class="card-title"><a href="{% url 'profile' tweet.user.pk %}">{{ tweet.user }}</a></h5>
                    </div>
                    <div class="card-body tweet-card-body">
                        <p class="card-text">{{ tweet.text }}</p>
                        <p class="card-text"><small class="text-muted">{{ tweet.date }}</small></p>
                        <p class="card-text"><small class="text-muted">Likes: {{ tweet.likes_count }}</small>   
                            {% if user in tweet.likes.all%}
                            <a href="{% url 'tweet_like' tweet.id %}" class="btn btn-danger">❤</a>
                        {% else %}
                            <a href="{% url 'tweet_like' tweet.id %}" class="btn btn-primary">❤</a>
                        {% endif %}</p>
                        {% if request.user.username == tweet.user.username %}
                            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                            <a href="{% url 'tweet_update' tweet.id %}" class="btn btn-primary">Edit</a>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
