{% extends 'layout.html' %}
{% load static %}
{% block content %}

{% if profile %}

    <div class="container">
        <h1>{{ profile.user.username }}'s Profile</h1>
        {% if profile.profile_image %}
        <img src="{{ profile.profile_image.url }}" class="img-thumbnail" style="width: 200px; height: 200px;">
        {% else %}
        <img src="{% static 'images/userbasicicon.jpg' %}" class="img-thumbnail" style="width: 200px; height: 200px;">
        {% endif %}
    </div>
    {% if request.user.id == profile.user.id%}
                <div class="actions-section">
                        <li class="list-group-item">
                            <a href="{% url 'update_profile_image' %}" class="btn btn-primary">Update Image</a>
                        </li>
                    </ul>
                </div>
                {% endif %}

        <div class="row">
            <div class="col-md-3">
                <div class="follows-section">
                    <h3>Follows</h3>
                    <ul class="list-group">
                        {% for following in profile.follows.all %}
                            <li class="list-group-item">
                                <a href="{% url 'profile' following.user.id %}">
                                    @{{ following }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="followed-by-section">
                    <h3>Followed by</h3>
                    <ul class="list-group">
                        {% for following in profile.followed_by.all %}
                            <li class="list-group-item">
                                <a href="{% url 'profile' following.user.id %}">
                                    @{{ following }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <form method="POST">
                        {% csrf_token %}
                        {% if profile in user.profile.follows.all %}
                            <button type="submit" class="btn btn-danger" name="follow" value="unfollow">Unfollow {{ profile.user.username }}</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary" name="follow" value="follow">Follow {{ profile.user.username }}</button>
                        {% endif %}
                    </form>
                </div>
                {% if request.user.id == profile.user.id%}
                <div class="actions-section">
                    <h3>Actions</h3>
                        <li class="list-group-item">
                            <a href="{% url 'user_update' %}" class="btn btn-primary">Update Profile</a>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="col-md-9">
                <div class="tweets-section">
                    <h3>{{ profile.user.username }}'s Tweets</h3>
                    <ul class="list-group">
                        {% for tweet in profile.user.tweets.all %}
                            <li class="list-group-item">
                                <p>{{ tweet.text }}</p>
                                <small>{{ tweet.date }}</small>
                                <p class="card-text"><small class="text-muted">Likes: {{ tweet.likes_count }}</small>   
                                    {% if user in tweet.likes.all%}
                                    <a href="{% url 'tweet_like' tweet.id %}" class="btn btn-danger">❤</a>
                                {% else %}
                                    <a href="{% url 'tweet_like' tweet.id %}" class="btn btn-primary">❤</a>
                                {% endif %}</p>
                                {% if request.user.username == tweet.user.username %}
                            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                            </li>
                            <div style="margin-bottom: 10px;"></div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endif %}
{% endblock %}
